//Share Tech Mono
@font-face {
    font-family: 'Share Tech Mono';
    src: url('../../fonts/ShareTechMono-Regular.ttf');
}

//Fira Code
@font-face {
    font-family: 'Fira Code';
    src: url('../../fonts/FiraCode-VF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }